@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lobster');

html{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

a{
  color: #000;
  text-decoration: none;
}
.icon-button {
  padding: 5px;
  margin: 0;
  background: none;
  outline: none;
  border: none;
}

.operation-buttons{
  display: block;
  margin-top: 5px;
}

#sidebar-wrapper{
  transition: all .4s ease 0s;
  height: 100vh;
  overflow: hidden;
}

#color-picker{transition: all .4s ease 0s;}

.hide{
  display: none !important;
}

#sidebar{
  width: 240px;
  padding: 10px;
  background: #000;
  color: #fff;
  height: 100vh;
  overflow-y: auto;
}
.title-text::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.7;
  font-style: italic;
}
.title-text:-moz-placeholder {
color: #fff;
opacity: 0.7;
font-style: italic;
}

.collaborator-input::-webkit-input-placeholder {
  color: #000;
  opacity: 0.7;
  font-style: italic;
}
.collaborator-input:-moz-placeholder {
color: #000;
opacity: 0.7;
font-style: italic;
}
