@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

a{
  color: #000;
  text-decoration: none;
  cursor: default;
}

.error-div{
  position: absolute;
  border-radius: 10px;
  margin: 15px;
  z-index: 1001;
  top: 0;
  right: 0;
  padding: 25px;
  background: rgba(0,0,0,0.4);
  color: #fff;
}
.icon-button {
  z-index: 1000;
  padding: 5px;
  margin: 0;
  background: none;
  outline: none;
  border: none;
}

.account-input{
  width: 100%;
}
.account-input>h3{
  font-family: "Lobster";
  font-size: 25px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.account-input>form{
  color: #fff;
  width: 220px;
}
.account-input>form>input{
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  outline: 0;
  width: 100%;
}

.account-input>form>label{
  display: block;
  margin-top: 15px;
  font-size: 12px;
}

.account-input>button, .account-input>form>button{
  background: #00bcd4;
  border: 0;
  outline: 0;
  padding: 5px;
  border-radius: 5px;
  color: "#fff";
}

.account-input>button:hover, .account-input>form>button:hover{
  background-color: #008C9D !important;
  transition: all .3s ease 0s;

}

.account-input>form>button{
  padding: 7px !important;
  color: #fff;
  font-size: 18px;
  font-family: "Lobster";
  font-weight: bold;
  margin-top: 15px;
  width: 240px;
}

.account-input>form{
  text-align: left;
}
.account-input::-webkit-input-placeholder {
  color: #000;
  opacity: 0.7;
  font-style: italic;
}
.account-input:-moz-placeholder {
color: #000;
opacity: 0.7;
font-style: italic;
}
.icon-button:hover{
  color: #fff !important;
  transition: all .3s ease 0s;
}

.postit-image{
  /*max-width: 400px;
  max-height: 400px;*/
  margin: 0 !important;
  display: block;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0;
  height: auto;
}

.operation-buttons{
  display: block;
  margin-top: 5px;
  transition: all .3s ease 0s;
}

.operation-buttons:hover{
  color: #fff !important;
}

.highlight-button:hover{
  border: 1px solid #fff !important;
  transition: all .3s ease 0s;
}

#sidebar-wrapper{
  transition: all .3s ease 0s;
  height: 100vh;
  overflow: hidden;
}

#color-picker, .board-list-items{transition: all .3s ease 0s;}

.hide{
  display: none !important;
}

#sidebar{
  width: 240px;
  padding: 10px;
  background: #000;
  color: #fff;
  height: 100vh;
  overflow-y: auto;
}
.title-text::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.7;
  font-style: italic;
}
.title-text:-moz-placeholder {
color: #fff;
opacity: 0.7;
font-style: italic;
}

.collaborator-input::-webkit-input-placeholder {
  color: #000;
  opacity: 0.7;
  font-style: italic;
}
.collaborator-input:-moz-placeholder {
color: #000;
opacity: 0.7;
font-style: italic;
}
